.engine-info {
  display: flex;
  flex-direction: column;
}

.engine-info__meters {
  display: flex;
}

.engine-info__levers {
  margin-top: 1em;
  display: flex;

}

.engine-info__throttle {

}

.engine-info__boost {

}